<a href="https://colab.research.google.com/github/imad3k/AppliedML_Assignment2/blob/main/dsba6156_inclass_assignment2_iahmad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DSBA 6156
# Inclass Assignment 2
# Imad Ahmad

# Load Google Colab

In [1]:
# Connect Google Drive

from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [2]:
# Change directory in Google Drive to ColabData

%cd /content/drive/My Drive/ColabData/DSBA6156/inclass_assignment03

/content/drive/My Drive/ColabData/DSBA6156/inclass_assignment03

# Load Libraries

In [3]:
%matplotlib inline
import sklearn
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore') # will ignore warnings during display

# Auto Data

Consider the Automobile data set from the UCI machine learning repository https://archive.ics.uci.edu/ml/datasets/Automobile. Note that you have to convert string values in certain columns to their numerical values (Hint: Label Encoder library from scikit-learn can be of assistance!). Remove the instances that have NA values in any of the columns. The Target variable is the attribute “symbolling”. Split the given dataset into test and train. Using KNN Regression algorithm and setting the nearest neighbor value as 3 (k=3), conduct 5-fold cross validation, calculate variance and the Residual Sum of Squares for the KNN regression Model.

In [4]:
# Read in our data file
# If you have a specific 'character' for na values, use: na_values =
# If you want to rename the columns, uses: names = [pass in a list of names]
# index_col=False

auto_names = ['symbolling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 
             'body-style', 'drive-wheels', 'engine-location', 'wheel-base', 'length', 'width', 'height', 
             'curb-weight', 'engine-type', 'num-of-cylinders', 'engine-size', 'fuel-system', 'bore',
             'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price']

auto_df = pd.read_csv('imports-85.data', header=None, sep = ',', names = auto_names, na_values="?")

# Print Data
auto_df.head()

,symbolling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [5]:
# Check to see which columns are categorical and change them to binary
auto_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symbolling         205 non-null    int64
 1   normalized-losses  164 non-null    float64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    float64
 19  stroke             201 non-null    float64
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    float64
 22  peak-rpm           203 non-null    float64
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    float64
dtypes: float64(11), int64(5), object(10)
memory usage: 41.8+ KB

In [6]:
auto_df.shape

(205, 26)

In [7]:
# Drop NA values

auto_df.dropna(inplace = True)
auto_df.shape

(159, 26)

In [8]:
# Import label encoder 
from sklearn import preprocessing

# Load the label_encoder 
label_encoder = preprocessing.LabelEncoder()

# Encode labels for categorical variables (columns that have categories)
auto_df['make']= label_encoder.fit_transform(auto_df['make']) 
auto_df['fuel-type']= label_encoder.fit_transform(auto_df['fuel-type']) 
auto_df['aspiration']= label_encoder.fit_transform(auto_df['aspiration']) 
auto_df['num-of-doors']= label_encoder.fit_transform(auto_df['num-of-doors']) 
auto_df['body-style']= label_encoder.fit_transform(auto_df['body-style']) 
auto_df['drive-wheels']= label_encoder.fit_transform(auto_df['drive-wheels'])
auto_df['engine-location']= label_encoder.fit_transform(auto_df['engine-location']) 

auto_df['engine-type']= label_encoder.fit_transform(auto_df['engine-type']) 
auto_df['num-of-cylinders']= label_encoder.fit_transform(auto_df['num-of-cylinders']) 
auto_df['fuel-system']= label_encoder.fit_transform(auto_df['fuel-system']) 




auto_df.head()

,symbolling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
3,2,164.0,0,1,0,0,3,1,0,99.8,...,109,4,3.19,3.4,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,0,1,0,0,3,0,0,99.4,...,136,4,3.19,3.4,8.0,115.0,5500.0,18,22,17450.0
6,1,158.0,0,1,0,0,3,1,0,105.8,...,136,4,3.19,3.4,8.5,110.0,5500.0,19,25,17710.0
8,1,158.0,0,1,1,0,3,1,0,105.8,...,131,4,3.13,3.4,8.3,140.0,5500.0,17,20,23875.0
10,2,192.0,1,1,0,1,3,2,0,101.2,...,108,4,3.50,2.8,8.8,101.0,5800.0,23,29,16430.0

In [9]:
# Split the data into Y (Target) and X (Variables)

Y = auto_df['symbolling']
X = auto_df.drop(['symbolling'], axis = 1)

In [10]:
# Import Scalers from Sklearn
from sklearn.preprocessing import Normalizer, StandardScaler, MinMaxScaler, PowerTransformer, MaxAbsScaler

# Scale the numerical values (X) 
scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X)

In [12]:
# For splitting the data into a train/test split, import:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X_scaled, Y, test_size = 0.2, random_state = 42)

In [32]:
# Load Library
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import accuracy_score


# Load KNN Regression model
knn_regression = KNeighborsRegressor(n_neighbors=3)

# Fit
knn_reg_model = knn_regression.fit(x_train, y_train)

# Model Predictions
predY = knn_reg_model.predict(x_test)

In [33]:
predY

array([-0.33333333, -0.66666667,  2.        ,  0.        ,  2.        ,
        0.        ,  2.66666667,  1.66666667,  1.66666667,  1.66666667,
        1.33333333,  1.33333333,  0.66666667,  1.        ,  0.33333333,
        1.        ,  2.        ,  0.        , -0.66666667,  0.66666667,
       -1.66666667,  1.66666667,  1.33333333,  1.        ,  1.        ,
        2.        ,  2.33333333,  0.        ,  0.33333333, -0.66666667,
       -1.        ,  2.66666667])

#### The following cell is just to visualize the predicion values VS. actual values

In [21]:
# Change preY into a Data Frame
predictions = pd.DataFrame(predY)

# Rename true values
actual_y = y_test.reset_index()

# Concat true values & KNN regression model predictions
comparison = pd.concat([actual_y, predictions], axis = 1)

# Convert comparison to a data frame
comparison = pd.DataFrame(comparison)

# Rename the columns for easier reading
comparison = comparison.rename(columns={'index': 'index', 'symbolling': 'true_symbolling', 0: 'predictions'})
comparison

    index  true_symbolling  predictions
0     108                0    -0.333333
1     201               -1    -0.666667
2     169                2     2.000000
3      85                1     0.000000
4     135                2     2.000000
5      40                0     0.000000
6     190                3     2.666667
7      78                2     1.666667
8     139                2     1.666667
9     183                2     1.666667
10     30                2     1.333333
11     90                1     1.333333
12     25                1     0.666667
13     95                1     1.000000
14     35                0     0.333333
15     41                0     1.000000
16    167                2     2.000000
17    142                0     0.000000
18    137                2    -0.666667
19     26                1     0.666667
20    197               -1    -1.666667
21     29                3     1.666667
22     22                1     1.333333
23     19                1     1.000000
24     42                1     1.000000
25    166                1     2.000000
26    136                3     2.333333
27     86                1     0.000000
28    187                2     0.333333
29    198               -2    -0.666667
30    176               -1    -1.000000
31    106                1     2.666667

### Variance & Residual Sum of Squares for the KNN regression model

In [41]:
# Calculate Variance and the Residual Sum of Squares for the KNN regression Model.

# Residual sum of squares is always mean*(predictions - actual values)^2
print("Residual sum of squares: %.2f"
      % np.mean((predY - y_test) ** 2))

# To get the variance score, use sklearn.neighbors.KNeighborsRegressor.score()
# Inputs = model_name, x_test, y_test
print('Variance score: %.2f' % sklearn.neighbors.KNeighborsRegressor.score(knn_reg_model, x_test, y_test))

Residual sum of squares: 0.71
Variance score: 0.52

# Airfoil Data

In [ ]:
# Read in our data file
# If you have a specific 'character' for na values, use: na_values =
# If you want to rename the columns, uses: names = [pass in a list of names]

airfoil_df = pd.read_csv('airfoil_self_noise.dat', header = None, sep='\t')

# Print Data
airfoil_df.head()

      0    1       2     3         4        5
0   800  0.0  0.3048  71.3  0.002663  126.201
1  1000  0.0  0.3048  71.3  0.002663  125.201
2  1250  0.0  0.3048  71.3  0.002663  125.951
3  1600  0.0  0.3048  71.3  0.002663  127.591
4  2000  0.0  0.3048  71.3  0.002663  127.461

# Electric Household Power

In [ ]:
# Read in our data file
# If you have a specific 'character' for na values, use: na_values =
# If you want to rename the columns, uses: names = [pass in a list of names]

hh_power = pd.read_csv('household_power_consumption.txt', sep=";")

# Print Data
hh_power.head()

         Date      Time  ... Sub_metering_2 Sub_metering_3
0  16/12/2006  17:24:00  ...          1.000           17.0
1  16/12/2006  17:25:00  ...          1.000           16.0
2  16/12/2006  17:26:00  ...          2.000           17.0
3  16/12/2006  17:27:00  ...          1.000           17.0
4  16/12/2006  17:28:00  ...          1.000           17.0

[5 rows x 9 columns]

# Forest Fires

In [ ]:
# Read in our data file
# If you have a specific 'character' for na values, use: na_values =
# If you want to rename the columns, uses: names = [pass in a list of names]

ff = pd.read_csv('forestfires.csv')

# Print Data
ff.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

# Wine Dataset

In [ ]:
# Read in our data file
# If you have a specific 'character' for na values, use: na_values =
# If you want to rename the columns, uses: names = [pass in a list of names]

white = pd.read_csv('winequality-white.csv', sep = ";")
red = pd.read_csv('winequality-red.csv', sep = ";")

# Print Data
white.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.0              0.27         0.36  ...       0.45      8.8        6
1            6.3              0.30         0.34  ...       0.49      9.5        6
2            8.1              0.28         0.40  ...       0.44     10.1        6
3            7.2              0.23         0.32  ...       0.40      9.9        6
4            7.2              0.23         0.32  ...       0.40      9.9        6

[5 rows x 12 columns]

In [ ]:
red.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]